html{
    border: 12px groove black;
    border-radius: 20px;
}
h1{
    border: 8px groove black; 
    border-radius: 20px;
    background-color: rgb(228, 224, 224);
    font-family: cursive;
}
.container{
    width: 100%;
    border: 8px groove black;
    border-radius: 20px;
    background-color: rgb(118, 116, 116);
   
}
img{
    border-radius: 50px;
    padding: 2px;
}
p:hover{
color:#05c2e3;
background-color: black;
font-family: cursive;
}
p{
    border: 2px groove black;
    border-radius: 20px;
    background-color: rgb(228, 224, 224);
 
}
#TT{
    background-color:black;
}